/* --General Reset-- */

*,*::before,*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: 'Asap';
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

/* --Font Imports-- */

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&display=swap');

/* --Utilities-- */

:root {
    --primary-accesent-clr: #FEFAF6;
    --color-100: #C6A23A;
    --color-400: #043b8f;
    --color-700: #102C57;  
}

h1,h2,h3,h4,h5,h6{
    font-family: "Josefin Sans", sans-serif;
}


/* --Header Section Styling-- */
.header-navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
}
.header-logo{
    max-width: 400px;
    cursor: pointer;
}
.header-navbar > ul{
    display: flex;
    gap: 10px;
}
.header-navbar > ul li{
    list-style-type: none;
}

.header-navbar > ul li a{
    text-decoration: none;
    color: var(--color-700);
}


.header-container{
    min-height: 100vh;
    background-image: url('src/Header_Files/Banner_carosel/container-ship.jpg');
    background-size: cover;
    background-position: center;
    animation: Homecarosel 3000ms infinite alternate ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes Homecarosel {
    0%{
        background-image: url('src/Header_Files/Banner_carosel/container-ship.jpg');
    }
    100%{
        background-image: url('src/Header_Files/Banner_carosel/ship.jpg');
    }
}

.header-infinite-carousel {
    color: var(--primary-accesent-clr);
    font-size: 5rem;
}


/* --Main Section Styling-- */





/* --Footer Section Styling-- */





/* --Responsiveness Styling-- */